#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organizes, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet activated charcoal gentrify gastropub meggings DIY tumblr kogi paleo. Gentrify pabst post-ironic ramps, meditation vexillologist asymmetrical swag. Raw denim williamsburg activated charcoal, skateboard blue bottle distillery tote bag blog post-ironic meggings taiyaki lyft. Unicorn ethical squid selfies.

#bottom_cta
  .wrapper
    %h2 GO Ahead!
    %br
    %button= link_to "Join now", new_user_registration_path 
